---
layout: default
title: Home
---
<div class"posts">
  {% for post in paginator.posts %}
    {% if post.type == "digest" or post.type == "blog" %}
    <article class="post">

      <h1 class="title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>  <time datetime="{{ post.date | date: "%B %e, %Y" }}"> &dash; {{ post.date | date: "%B %e, %Y" }}</time></h1>
      
      <div class="entry">
        {% if post.teaser %}
          <img src="{{ post.teaser }}">
        {% endif %}
        {% if post.content contains site.excerpt_separator %}
          {{ post.excerpt }}
        {% else %}
        {{ post.content }}
        {% endif %}
      </div>
      
      {% if post.content contains site.excerpt_separator %}
        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">more &rarr;</a>
      {% endif %}

    </article>
    <hr class="post-break" />
    {% endif %}

  {% endfor %}
</div>
{% include pagination.html %}