---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/
* {
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
  font-style: normal;
  font-weight: 400;
  -webkit-font-feature-settings: normal;
  font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 100%;
}

body {
	background: $white;
  font: 16px/1.4 $helvetica;
  color: $darkGray;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

.logo-text {
  color: #666666;
}
.logo-text-dev {
  font-family: "Patua One", cursive;
  color: #555555;
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Patua One", cursive;
  color: $darkerGray;
  font-weight: normal;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid $lightGray;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $helveticaNeue;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  h1.title {
    font-size: 1.5em;
    padding:0;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: lowercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
}

footer, .pagination {
  padding: 20px 0;
  text-align: center;
}

.ack-footer{
  margin:10px 0;
  font-size: 12px;
}

.pagination .h1, .pagination .h2{
  font-family: "Patua One", cursive;
  font-weight: bold;
  font-size: 2em;
  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;
}#mc_embed_signup{
  padding:10px 20px;

}
label {
  font-size: 1rem;
}
input[type='email']
{
  display: block;
  width: 500px;
  padding:10px ;
  font-size: .9em;
}

h2 {font-family: 'Oswald', serif;font-size: 1.5rem; color: #AA4244}
.start_form h3 {color: #555;font-family: 'Lato', helvetica, 'sans-serif';}

// content entry for links
article.post {
  @include mobile {
    margin: 70px 0;
  }
  h1 {
    @include mobile {
      text-align: center;
      margin:20px 0;
    }
  }
}
.entry {
  
}
.entry ul li {
  margin-bottom: 10px;
  font-style: italic;
  color: #888;
}
.entry ul li h4{
  padding:0;
  font-weight: normal;
}
.entry ul li p{
  margin:0 0 10px 0;
}
.entry h4 a, 
.entry a, 
.entry ul li a {
  font: 400 16px/32px 'Open Sans','San Francisco', sans-serif;
  font-size: 1.1em;
  font-style: normal;
  line-height: 1.2;
  margin: 0;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}
.entry p {
  font: 400 16px/32px 'Open Sans','San Francisco', sans-serif;
  color: #666;
  margin-bottom: 15px;
}

h1 time {
  font-size: 12px; 
  font-weight: normal;
  font-style: normal;
}
hr.post-break {
  border: none;
  width: 70%;
  height: .9px;
  background-color: #ccc; /* Modern Browsers */
  margin:70px 0;
  @include mobile {
    text-align:center; 
    margin:0 auto;
  }
}

.label {
  padding:3px;
  border:1px solid #888;
  font-size: .7em;
  text-transform: uppercase;
  font-style: normal;
}
// ARCHIVE
.archive {
  font-size: normal;
}
.archive h4 {
  margin: 20px 2px;
  font: 500 14px 'PT Mono',sans-serif;
  color: #888;
  text-transform: uppercase;
}
// subscribe
.newsletter_subscribe {
	margin: 50px auto;
	overflow: hidden;
	background-color: #F6F6F2;
}
.newsletter_subscribe p {
	margin: 0;
	text-align: center;
}
.newsletter_subscribe p:first-child {
	margin: 20px 15px 0;
	color: #F38630;
	text-transform: normal;
	text-align: center;
	font-size: 1.2em;
	font-family: 'PT Sans Narrow', sans-serif;
	letter-spacing: 1px;
}
.newsletter_subscribe input[type="text"],
.newsletter_subscribe input[type="email"] {
	margin: 25px 30px;
	color: #999;
	padding: 25px 15px !important;
	text-align: center;
	width: 100% !important;
	max-width: calc(100% - 90px);
	outline: none;
	border: 0;
	font-size:1em;
}

.newsletter_subscribe input[type="text"]::-webkit-input-placeholder,
.newsletter_subscribe input[type="email"]::-webkit-input-placeholder {
	color: #69D2E7;
}
.newsletter_subscribe input[type="text"]:-moz-placeholder,
.newsletter_subscribe input[type="email"]:-moz-placeholder {
	color: #69D2E7;
}
.newsletter_subscribe input[type="text"]::-moz-placeholder,
.newsletter_subscribe input[type="email"]::-moz-placeholder {
	color: #69D2E7;
}
.newsletter_subscribe input[type="text"]:-ms-input-placeholder,
.newsletter_subscribe input[type="email"]:-ms-input-placeholder {
	color: #69D2E7;
}
.newsletter_subscribe input[type="submit"] {
	margin: 0 0 10px 0;
	background-color: #69D2E7;
	color: #fff;
	padding: 15px 15px !important;
	text-align: center;
	width: 100%;
	max-width: 50%;
	outline: none;
	border: 0;
	font-size: 1.2em;
	cursor: pointer;
	-webkit-transition: .1s all ease-in-out;
	-moz-transition: .1s all ease-in-out;
	-o-transition: .1s all ease-in-out;
	transition: .1s all ease-in-out;
}
.newsletter_subscribe input[type="submit"]:hover {
	background-color: #F38630;
}

.full-article-footer {
  border-top: 1px solid #E0DFDB;
  border-bottom: 1px solid #E0DFDB;
  width: 100%;
  margin: 50px 0
}

.article-footer {
  padding: 20px 10px 20px 10px;
  min-height: 115px;
  display:table;
}

.avatar-module {
  display: table-cell; 
  vertical-align: middle;
  margin-right: 50px;
}
.author-description{
  padding-left: 20px;
}
.avatar-module img {
  border-radius: 50%!important;
  float: left;
  margin:0px 50px 0px 20px;
}

.article-footer p {
  line-height:1.5em;
  padding-left:15px;
}

a.author-link {
  font-size:25px;
  line-height:2em;
  color:#617a3a;
  text-decoration:none;
}

a.author-link:hover {
  color:#000000;
  text-decoration:none;
}

@media (max-width:750px) {
  .article-footer {
  display:inherit;
  margin:0px;
}

.avatar-module {
  display:inherit; 
  vertical-align: none;
}

.avatar-module img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  float:none;
  margin-top:0px;
}
.article-footer p {
  text-align:center;
  padding-left:0px;
  }
}


.author__avatar {
  display:table-cell;
  vertical-align:top;
  width:36px;
  height:36px;
  margin-left:0;
  margin-right:0;
  float: left;
 }

 .author {
  // margin-top: 23px; // @TODO: Vertically middle align
  font-family: $helveticaNeue;
  font-size: 18px;
  margin-left: 20px;
  // border:1px solid red;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}
 @media (min-width: 64em) {
  .author__avatar {
   display:block;
   width:auto;
   height:auto
  }
 }
 .author__avatar img {
  max-width:110px;
  border-radius:50%;text-align: left;
 }
 @media (min-width: 64em) {
  .author__avatar img {
   padding:5px;
   border:1px solid #f2f3f3
  }
 }
// end subscribe

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
