---
layout: default
---
<a href="/">&larr; home</a>

<article class="post">
  <h1>{{ page.title }}</h1>
  <div class="entry">
    {{ content }}
  </div>


  <section class="widget newsletter_subscribe">
      <form action="https://jakartadev.us12.list-manage.com/subscribe/post?u=a34ff9df1ffbc50651c66d478&amp;id=d1f45e3af1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" id="subscribe-newsletter" novalidate>
    
        <p>Subscribe Jakartadev newsletter.</p>
        <p aria-hidden="true">
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" style="width: 95%; padding: 1px 2px" placeholder="Your email address"  id="subscribe-field" required>
        </p>
        <p>
          <input type="submit" id="mc-embedded-subscribe" value="Subscribe">
        </p>
    </form>
    </section>

    <div class="date">
        Published on {{ page.date | date: "%B %e, %Y" }}
      </div>

      
  {% if page.type == 'blog' %}
  <div class="full-article-footer">
    <div class="article-footer">
      <div class="avatar-module">
          <img class="avatar" height="100px" src="https://notes.dedenf.com/public/avatar.jpg">
      </div>
      <div class="author-description">
      <h4>Author</h4>
      <strong>Deden Fathurahman</strong> &mdash; DevOps, System Architecture, technologist, Open Source enthusiast, loves all things technology.
      </div>
   </div>
</div>

  {% endif %}

  <div>
      <p class="">Curated by <a href="https://github.com/dedenf/">dedenf</a>, 
        <em style="font-style:normal;">check <a href="https://raw.githubusercontent.com/jakartadev/jakartadev.github.io/master/signed/{{ page.path | remove_first: '_posts/' }}.asc">post hash</a> and verify at <a href="https://keybase.io/verify">keybase</a>.</em>  
      </p>
    </div>
  

  {% include disqus.html %}
</article>
